body {
  margin: 0;
  text-align: center;
}

h1 {
  margin-top: 0;
}

.top-container {
  background-color: #c6fce5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #6ef3d6;
}

.bottom-container {
  background-color: #0dceda;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 20px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
