body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #66bfbf;
  font-family: "Sacramento", cursive;
  line-height: 2;
  font-size: 90px;
  margin-top: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

.top-container {
  background-color: #c6fce5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 20px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
