body {
  text-align: center;
}

.calc-container {
  border: solid 1px;
  display: inline-block;
  height: 350px;
  width: 300px;
}

.calc-key-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.calc-key {
  background-color: rgb(53, 53, 51);
  height: 45px;
  width: 50px;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

.display-section {
  border: solid 1px;
  width: 236px;
  height: 50px;
  background-color: blanchedalmond;
  display: inline-block;
  margin: 10px 0 10px;
  text-align: right;
}

.display-section p {
  display: inline-block;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  margin: 0;
}
